@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;800;900&display=swap');

html {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

h2  {
    text-align: center;
    font-size: 24px;
}

h3  {
    font-size: 20px;
}

.section-pad-top {
    padding-top: 64px;
}

.section-pad-bottom {
    padding-bottom: 64px;
}

.intro {
    position: relative;
}

.swiss {
    position: absolute;
    bottom: 5%;
    right: 3%;
}

.footer-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.sales ::-webkit-scrollbar {
    display: block;
}

.form input::placeholder {
    color: white;
}

#sidebar {

    position: fixed;
    top: 0;
    right: 0;
    /*left: -100%;*/
    /*transition: left 0.5s ease;*/
    display: none;
    z-index: 2;
}



#searchbar {

    position: fixed;
    top: 0;
    right: 0;
    /*left: -100%;*/
    /*transition: left 0.5s ease;*/
    display: none;
    z-index: 2;
}

.page table {
    border-collapse: collapse;
}

.page table, .page th, .page td {
    border: 1px solid #C80000;
}

.page td {
    padding: 6px 12px;
}

.page h1,.page h2 {
    text-align: left;
}



.main {
    margin-top: 50px;
}

.main a {
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;
}

.main {
    margin-left: auto;
    margin-right: auto;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 80%;
}


.search input:focus {
    border:none;  /* Show the results  */
    outline: none;
}

.search .results {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 8px;
    background-color: #fdfdfd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    max-height: 620px;
}




.fix-width {
    width: 400px;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 700px;
    margin-bottom: 0;
    max-width: none;
}

.panel {
    padding: 15px;
}

/*.availabilities {*/
/*    overflow-x: auto;*/
/*}*/

/*.availabilities__table {*/
/*    min-width: 800px;*/
/*}*/

.availabilities__table td {
    padding-top: 12px;
    padding-bottom: 12px;
}

.availabilities__table th {
    padding-right: 8px;
    padding-left: 8px;
}





